.level-1 {
  background-color: #fff5b5;
  color: black;
}

.level-2 {
  background-color: #ffc279;
  color: black;
}

.level-3 {
  background-color: #ff703c;
  color: black;
}

.level-4 {
  background-color: #ff0500;
  color: black;
}
