body {
  display: grid;
  grid-template-areas:
    "header header header" "navbar main main"
    "footer footer footer";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
}

nav {
  grid-area: navbar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
